@font-face {
    font-family: 'OpenSans Regular';
    src: url(../vendor/fonts/OpenSans/OpenSans-Regular.ttf);
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    padding: .4em;
    max-width: 16cm;
    font-family: 'OpenSans Regular', sans-serif;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#langselector {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
    text-align: right;
    font-size: 80%;
    color: gray;
}

div#langselector a {
    color: rgb(200,0,0);
    text-decoration: none;
    border-bottom: 1px dashed rgb(200,0,0);
    margin-left: 1em;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: rgb(200,0,0);
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
}

div#footer div#feeds_and_social {
    float: right;
}

div#footer div#feeds_and_social img {
    height: 5mm;
    width: 5mm;
}

div#footer div#feeds_and_social a {
    border-bottom: none;
}

h1 {
    font-size: 24px;
    margin-top: 0px;
}

h2 {
    font-size: 20px;
}

div#content a, div#footer a {
    color: rgb(200,0,0);
    text-decoration: none;
    border-bottom: 1px dashed rgb(200,0,0);
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div.sourceCode, p .sourceCode, p code {
    font-size: 13px;
    border-style: solid;
    border-width: 0.5mm;
    border-color: rgb(200,200,200);
    background-color: rgb(250,250,250);
    padding: 0mm;
}

div.sourceCode {
    padding-left: 3mm;
    padding-right: 3mm;
}

/* Inline version */
p .sourceCode, p code {
    font-size: 13px;
    border-style: solid;
    border-width: 0.5mm;
    border-color: rgb(200,200,200);
    background-color: rgb(250,250,250);
    padding: 0mm;
    padding-left: 1mm;
    padding-right: 1mm;
}

.pronunciation::before {
  content: "/";
}

.pronunciation::after {
  content: "/";
}

.award {
  font-weight: bold;
}

.award img {
  height: 6mm;
  padding-top: 1mm;
  vertical-align: text-top;
}
