<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>otini — $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/index.fr.html">otini</a>
            </div>
            <div id="navigation">
                <a href="/index.fr.html">Accueil</a>
                <a href="/contact.fr.html">Contact</a>
                <a href="/archive.fr.html">Billets</a>
            </div>
        </div>

        <div id="langselector">
            En d’autres langues :
            <a href="/index.en.html">en</a>
            <a href="/index.eo.html">eo</a>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
            <div id="feeds_and_social">
              <a href="https://functional.cafe/@otini" rel="me"><img
                 src="/vendor/img/mastodon.svg" alt="Logo de Mastodon"
                 title="Compte Mastodon" /></a>
              <a href="/rss.xml"><img src="/vendor/img/rss.svg" alt="Icône d'RSS"
                title="Flux RSS" /></a>
            </div>
            Généré par <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>
    </body>
</html>
