<!doctype html>
<html lang="eo">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>retejo de otini — $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/index.eo.html">otini</a>
            </div>
            <div id="navigation">
                <a href="/index.eo.html">Hejmo</a>
                <a href="/contact.eo.html">Kontakto</a>
                <a href="/archive.eo.html">Publikaĵoj</a>
            </div>
        </div>

        <div id="langselector">
            Alilingve:
            <a href="/index.en.html">en</a>
            <a href="/index.fr.html">fr</a>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
            <div id="feeds_and_social">
              <a href="https://functional.cafe/@otini" rel="me"><img
                 src="/vendor/img/mastodon.svg" alt="Insigno de Mastodon"
                 title="Mastodon-ai konto" /></a>
              <a href="/rss.xml"><img src="/vendor/img/rss.svg" alt="RSS-piktogramo"
                title="RSS-fluo" /></a>
            </div>
            Generita de <a href="http://jaspervdj.be/hakyll">Hakyll</a> –
            Piktogramoj de <a href="https://www.freepik.com" title="Freepik">Freepik</a> el <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </body>
</html>
